@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap");

html {
  font-family: Roboto, Arial, “Sans Serif”, Noto, “YT Sans”, “Roboto Mono”;
}

body {
  background-color: none;
}

.navpart {
  display: flex;
  justify-content: center;
  height: 70px;
  font-size: 20px;
}
.leftmost {
  margin-right: 1000px;
  padding: 15px;
  line-height: 20px;
  padding-left: 10px;
  letter-spacing: 12px;
}


.search {
  width: 100px;
  justify-content: center;
}

.search-button {
  width: 50px;
  justify-content: center;
}

.sidebar {
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}
.autobutton {
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: right;
}