@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap");

nav {
  width: 100%;
}

.video {
  margin-left: initial;
  padding-left: 100px;
  padding-top: 30px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

html {
  font-family: Roboto, Arial, “Sans Serif”, Noto, “YT Sans”, “Roboto Mono”;
}

.main-fc {
  width: 60%;
}

.other-videos {
  width: 30%;
}
.autobutton {
  float: right;
  position: relative;
  bottom: 35px;
}
#autobutton {
  position: relative;
  bottom: 15px;
  left: 14px;
}
.sidebar {
  position: relative;
  right: 50px;
}
.image {
  float: left;
  height: 10px;
  position: relative;
}
.aside-video {
  grid-template-columns: 180px 180px;
  display: grid;
  margin-bottom: 4px;
}
/* .aside-description {
  font-family: Roboto;
  line-height: 1.2em;
  font-size:12px;
} */
.song-title {
  font-family: Roboto;
  line-height: 1.2em;
  font-size: 14px;
  color: #030303;
  display: inline-block;
}

.artist-name {
  font-family: Roboto;
  line-height: 1.2em;
  font-size: 13px;
  color: #606060;
}
.aside-views {
  font-family: Roboto;
  line-height: 1.2em;
  font-size: 13px;
  color: #606060;
}
.video-duration {
  position: relative;
  float: right;
  bottom: 20px;
  right: 14px;
  font-size: 12px;
  background-color: black;
  color: whitesmoke;
}
