@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap");



.video {
  margin-left: initial;
  padding-left: 100px;
  padding-top: 30px;
}

body {background-color: red;}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

html {
  font-family: Roboto, Arial, “Sans Serif”, Noto, “YT Sans”, “Roboto Mono”;
}

.navbar {

}
.navbar-right {

}
.fa {
  
}
.navbar-left {

}
.main-fc {
  width: 60%;
}

.other-videos {
  width: 30%;
}
.image {
  width: 50%;
}
.aside-description {
  width: 70%;
}